#root {
  margin: 0 auto;
  text-align: center;
}

*{
    position: relative;

}

.logo {
  height: 8em;
  margin: 20px;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 5em #46b2ff);
}
.logo.react:hover {
  filter: drop-shadow(0 0 5em #ac47ff);
}