#root {
  margin: 0 auto;
  text-align: center;
}

*{
    position: relative;

}

.logo {
  height: 10em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 5em #000000aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 5em #000000aa);
}